absl-py==1.4.0
accelerate==0.34.2
aiofiles==24.1.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
alabaster==0.7.13
alembic==1.13.2
altair==5.3.0
altgraph==0.17.2
anaconda==0.0.1.1
aniso8601==9.0.1
annotated-types==0.7.0
anthropic==0.37.1
antlr4-python3-runtime==4.9.3
anyio==3.7.0
apispec==6.4.0
apispec-webframeworks==1.0.0
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.1
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
Automat==22.10.0
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
banal==1.0.6
bcrypt==4.2.0
beautifulsoup4==4.12.2
bibtexparser==1.4.0
bidict==0.23.1
binaryornot==0.4.4
black==24.10.0
bleach==6.1.0
blinker==1.7.0
blis==1.0.1
boilerpy3==1.0.7
boto3==1.34.34
botocore==1.34.46
burr==0.31.1
CacheControl==0.14.0
cachelib==0.13.0
cachetools==5.3.1
catalogue==2.0.10
cattrs==24.1.2
certifi==2024.8.30
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.20.0
cloudpickle==3.0.0
cmake==3.28.3
colorama==0.4.6
comm==0.1.3
comtypes==1.2.0
confection==0.1.5
constantly==23.10.4
construct==2.5.3
contourpy==1.0.7
cookiecutter==2.5.0
cryptography==43.0.0
cycler==0.11.0
cymem==2.0.8
databricks-sdk==0.36.0
dataclasses-json==0.5.7
dataset==1.6.2
debugpy==1.6.7
decorator==5.1.1
deepdiff==6.7.1
defusedxml==0.7.1
Deprecated==1.2.14
discord==2.3.2
discord.py==2.4.0
distlib==0.3.8
distro==1.9.0
Django==5.0.7
django-rest-framework==0.1.0
djangorestframework==3.15.2
dlib==19.24.2
dnspython==2.6.1
docker==7.0.0
docopt==0.6.2
docutils==0.18.1
duckdb==0.10.3
einops==0.7.0
email-validator==1.1.3
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et-xmlfile==1.1.0
eval_type_backport==0.2.0
Events==0.5
exceptiongroup==1.1.1
executing==1.2.0
face-recognition==1.3.0
face-recognition-models==0.3.0
faiss-cpu==1.9.0
fake-useragent==1.1.3
Faker==19.13.0
farm-haystack==1.26.3
fastapi==0.115.0
fastapi-pagination==0.12.31
fastapi-utils==0.7.0
fastjsonschema==2.19.1
filelock==3.13.3
firebase==4.0.1
firebase-admin==6.5.0
Flask==2.3.2
Flask-Cors==5.0.0
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-Minify==0.37
Flask-RESTful==0.3.10
flask-restx==0.5.1
Flask-Session==0.8.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.0.0
flatbuffers==23.5.26
fonttools==4.39.4
forex-python==1.8
fpdf==1.7.2
fqdn==1.5.1
free-proxy==1.1.1
frozendict==2.4.6
frozenlist==1.3.3
fsspec==2024.6.1
gast==0.4.0
gcloud==0.17.0
gevent==23.9.1
gevent-websocket==0.10.1
git-filter-repo==2.45.0
gitdb==4.0.11
gitignore_parser==0.1.11
GitPython==3.1.43
google-api-core==2.17.1
google-api-python-client==2.141.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.1
google-cloud-firestore==2.17.2
google-cloud-storage==2.18.2
google-cloud-texttospeech==2.16.1
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.62.0
googletrans==4.0.0rc1
graphene==3.4
graphql-core==3.2.5
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.60.1
grpcio-status==1.60.1
gTTS==2.5.1
gunicorn==20.1.0
gym==0.26.2
gym-notices==0.0.8
h11==0.9.0
h2==3.2.0
h5py==3.9.0
haystack==0.42
hpack==3.0.0
hstspreload==2024.10.1
html5lib==1.1
htmlmin==0.1.12
httpcore==0.9.1
httplib2==0.22.0
httpx==0.13.3
huggingface-hub==0.24.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
igraph==0.10.6
image==1.5.33
imageio==2.34.0
imageio-ffmpeg==0.4.9
imagesize==1.4.1
importlib_metadata==8.4.0
imutils==0.5.4
incremental==24.7.2
inflect==7.4.0
iniconfig==2.0.0
intel-openmp==2021.4.0
ipykernel==6.23.1
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.4.13
jedi==0.18.2
Jinja2==3.1.4
jiter==0.6.1
jmespath==1.0.1
joblib==1.2.0
jsmin==3.0.1
json5==0.9.14
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.3
jupyter-nbextensions-configurator==0.6.3
jupyter_client==8.2.0
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.3.0
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
jupyterlab_widgets==3.0.10
jws==0.1.3
kaggle==1.6.17
kaleido==0.2.1
keras==2.12.0
kiwisolver==1.4.4
kthread==0.2.3
langchain==0.0.189
langcodes==3.4.1
language_data==1.2.0
lazy-imports==0.3.1
lesscpy==0.15.1
libclang==16.0.0
lightning-utilities==0.11.7
loguru==0.7.2
lxml==4.9.2
macholib==1.16
Mako==1.3.5
marisa-trie==1.2.1
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.20.2
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.1
mistralai==1.1.0
mistune==3.0.2
mkl==2021.4.0
ml-dtypes==0.2.0
mlflow==2.17.1
mlflow-skinny==2.17.1
mlxtend==0.23.1
monotonic==1.6
more-itertools==10.5.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
msgspec==0.18.6
multidict==6.0.4
multitasking==0.0.11
murmurhash==1.0.10
mypy-extensions==1.0.0
mysql==0.0.3
mysqlclient==2.2.4
nbclient==0.9.0
nbconvert==7.16.0
nbformat==5.9.2
nest-asyncio==1.5.6
networkx==3.2.1
nltk==3.8.1
notebook==7.1.1
notebook_shim==0.2.3
num2words==0.5.13
numexpr==2.8.4
numpy==1.26.4
oauth2client==3.0.0
oauthlib==3.2.2
omegaconf==2.3.0
openai==0.27.7
openapi-schema-pydantic==1.2.4
opencv-contrib-python==4.8.0.74
opencv-python==4.8.0.74
openpyxl==3.1.2
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opt-einsum==3.3.0
ordered-set==4.1.0
outcome==1.2.0
overrides==7.7.0
packaging==23.1
pandas==1.5.3
pandasai==2.2.10
pandocfilters==1.5.1
parso==0.8.3
passlib==1.7.4
pathspec==0.12.1
peewee==3.17.7
pefile==2023.2.7
pexpect==4.8.0
phonenumbers==8.13.22
pickleshare==0.7.5
pillow==10.4.0
pipenv==2023.12.1
platformdirs==3.5.1
plotly==5.22.0
pluggy==1.3.0
ply==3.11
posthog==3.7.0
preshed==3.0.9
proglog==0.1.10
progress==1.6
prometheus-client==0.19.0
prompt-toolkit==3.0.38
prompthub-py==4.0.0
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio @ file:///C:/Users/HP/PycharmProjects/JarvisAI/PyAudio-0.2.11-cp311-cp311-win_amd64.whl#sha256=5092b46bff5d6687db817bde4a71ffc50dd316cc2e490ee81908f0c95ef2644f
PyAutoGUI==0.9.54
pybotkit==0.1
pycparser==2.21
pycryptodome==3.20.0
pydantic==1.10.18
pydantic-settings==2.6.0
pydantic_core==2.23.4
pydeck==0.9.1
pydot==3.0.2
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.15.1
pyinstaller==5.13.1
pyinstaller-hooks-contrib==2022.7
PyJWT==2.8.0
pymongo==4.6.1
PyMsgBox==1.0.9
pyparsing==3.0.9
PyPDF2==3.0.1
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
Pyrebase==3.0.27
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
pytesseract==0.3.13
pytest==7.4.2
python-dateutil==2.8.2
python-decouple==3.4
python-dotenv==1.0.1
python-engineio==4.9.1
python-json-logger==2.0.7
python-jwt==2.0.1
python-ptrace==0.9.9
python-slugify==8.0.4
python-socketio==5.11.3
pytorch-lightning==2.1.4
pytorch-tabnet==4.1.0
pytorch-tabular==1.1.0
pyttsx3==2.90
pytweening==1.2.0
pytz==2023.3
pywhatkit==5.4
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.12
PyYAML==6.0
pyzmq==25.1.0
qrcode==7.4.2
qt-material==2.14
qtconsole==5.5.1
QtPy==2.4.1
quantulum3==0.9.2
rank-bm25==0.2.2
razorpay==1.4.2
rcssmin==1.1.2
redis==5.0.8
referencing==0.33.0
regex==2024.5.15
requests==2.32.3
requests-cache==0.9.8
requests-oauthlib==1.3.1
requests-toolbelt==0.7.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
s3transfer==0.10.0
safetensors==0.4.3
schedule==1.2.0
scholarly==1.7.11
scikit-learn==1.3.0
scipy==1.10.0
seaborn==0.13.2
selenium==4.9.1
Send2Trash==1.8.2
service-identity==24.1.0
sf-hamilton==1.81.0
shellingham==1.5.4
simple-websocket==1.0.0
simplejson==3.19.3
six==1.16.0
sklearn==0.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
socksio==1.0.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.4.1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.0
Sphinx==6.2.1
sphinx-rtd-theme==1.2.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.36
sqlglot==25.5.1
sqlglotrs==0.2.8
sqlparse==0.4.1
srsly==2.4.8
sseclient-py==1.8.0
stack-data==0.6.2
starlette==0.38.6
streamlit==1.36.0
sympy==1.13.1
tabulate==0.9.0
taipy==4.0.0
taipy-common==4.0.0
taipy-config==3.1.1
taipy-core==4.0.0
taipy-gui==4.0.0
taipy-rest==4.0.0
taipy-templates==4.0.0
tbb==2021.13.0
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
terminado==0.18.0
tesseract==0.1.3
text-unidecode==1.3
textblob==0.18.0.post0
texttable==1.6.4
thinc==8.3.2
threadpoolctl==3.1.0
tiktoken==0.8.0
timm==1.0.8
tinycss2==1.2.1
tokenizers==0.15.2
toml==0.10.2
toolz==0.12.1
torch==2.0.1
torchmetrics==1.2.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.39.3
treelib==1.7.0
trio==0.22.0
trio-websocket==0.10.2
tweepy==4.14.0
twilio==9.0.5
Twisted==24.7.0
twisted-iocpsupport==1.0.4
twitter-text-parser==3.0.0
typeguard==4.4.0
typer==0.12.5
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
Unipath==1.1
uri-template==1.3.0
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==1.26.19
utils==1.0.2
uvicorn==0.32.0
validators==0.20.0
virtualenv==20.25.1
virtualenvwrapper-win==1.2.7
virustotal-python==1.0.2
waitress==3.0.0
wasabi==1.1.3
watchdog==4.0.1
wcwidth==0.2.6
weasel==0.4.1
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.4
widgetsnbextension==4.0.10
wikipedia==1.4.0
win32-setctime==1.1.0
wordcloud==1.9.3
wrapt==1.14.1
wsproto==1.2.0
WTForms==3.0.0
xlrd==2.0.1
xxhash==3.4.1
yarl==1.9.2
yattag==1.15.1
yfinance==0.2.48
youtube-dl==2021.12.17
zipp==3.20.2
zope.event==5.0
zope.interface==7.0.1
