Flask==2.3.2
gevent==23.9.0
gunicorn==22.0.0
glob2==0.7
h5py==2.9.0
itsdangerous==1.1.0
Jinja2==3.1.5
keras==2.13.1
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Theano==1.0.4
tensorflow>=1.15.2
Werkzeug==3.0.6
glob2==0.7
future==0.18.3
numpy==1.22.0
