{% extends 'layout.html' %}
{% block body %}

<style>
    html body {
        background-color: rgb(206, 206, 228);
    }
</style>

<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Upload Soil Image to Predict the Best Crop</b>
</h2>
<br />

<div
  style="
    width: 350px;
    height: 20rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
<form method="POST" action="{{ url_for('soil_prediction') }}" enctype="multipart/form-data">
  <div class="form-group">
      <label for="soil_image" style="font-size: 17px"><b>Upload Soil Image</b></label>
      <input type="file" class="form-control" id="soil_image" name="soil_image" required />
  </div>
  <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-info" style="color: black; font-weight: bold; width: 130px; height:50px; border-radius:12px; font-size: 21px;">
          Predict
      </button>
  </div>
</form>

</div>

{% endblock %}
