
{% extends "base.html" %} {% block content %}

<h3>List of Crops on which model can be used for prediction</h3>
<img src="{{url_for('static', filename='screenshot_3.png')}}" align="middle" />
<h3>List of Crop Diseases on which model can be used for prediction</h3>

<img src="{{url_for('static', filename='screenshot_2.png')}}" align="middle" />
<h3>Use clear images of leaves on which our model can convolve and identify disease if exists</h3>
<h3> Here is an example image</h3>  
<img src="{{url_for('static', filename='strawberry-plant-leaf-spot.jpg')}}" align="middle" style="height: 224; width:224;"/>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>
    <h4> Predicted Output is:</h4>
    <h3 id="result">
        <span> </span>
    </h3>
    <h4> Thanks for the visit</h4>

</div>

{% endblock %}
