<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - ArogyaKrishi</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <span class="hamburger-btn material-symbols-rounded">menu</span>
            <a href="#" class="logo">
                <img src="{{ url_for('static', filename='images/kisan.jpg') }}" alt="FarmConnect Logo">
                <h2>ArogyaKrishi</h2>
            </a>
            <div id="google_translate_element"></div>
            <ul class="links">
               
                <li><a href="/">Home</a></li>
            </ul>
     
        </nav>
    </header>

    <div class="blur-bg-overlay"></div>
    <div class="form-popup show-signup">
        
        <div class="form-box signup">
            <div class="form-details">
                 
                <h2>Create Account</h2>
                <p>To become a part of our community, please sign up using your personal information.</p>
            </div>
            <div class="form-content">
                <h2>SIGNUP</h2>
                <form action="{{ url_for('register') }}" method="POST">
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name="name" placeholder="Full Name" required>
                        <label>Name</label>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" name="email" placeholder="Email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Create Password" required>
                        <label>Password</label>
                    </div>
                    <div class="policy-text">
                        <input type="checkbox" id="policy" required>
                        <label for="policy">
                            I agree to the
                            <a href="#" class="option">Terms & Conditions</a>
                        </label>
                    </div>
                    <button type="submit" class="btn">Sign Up</button>
                    <div class="bottom-link">
                        Already have an account?
                        <a href="/login" id="login-link">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'en,hi,mr,ta,te,kn,or,bn,gu,ml,pa,as,ur,sr,si,sd,ne,ks,ma,kd,bh,ho,kp,ra,co,ch,go,na,li,ga,md,mi,no,ve,so,ti,be,wa,di,me,bu,ri,mp,ci,ke,ji,bl,mo,ru',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://cdn.botpress.cloud/webchat/v2.1/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/b87543e6-fc32-417f-b0be-739c0167b0df/webchat/v2.1/config.js"></script>
</body>
</html>
